<?xml version="1.0"?>
<launch>

    <node name="turtle1" pkg="turtlesim" type="turtlesim_node" output="screen"/>

    <node name="creat_turtle" pkg="learning_tf2" type="creat_turtle_node" output="screen"/>
    
    <node name="listen_one" pkg="learning_tf2" type="listen_to_turtle_node" output="screen">
        <param name="child_frame_id" value="turtle1"/>
    </node>
 
    <node name="listen_two" pkg="learning_tf2" type="listen_to_turtle_node" output="screen">
        <param name="child_frame_id" value="turtle2"/>
    </node>
    <!-- <node pkg="learning_tf2" type="listen_to_turtle_node" name="listen_one" output="screen" args="turtle1" />
    <node pkg="learning_tf2" type="listen_to_turtle_node" name="listen_two" output="screen" args="turtle2" /> -->
    <!-- <node name="follow" pkg="learning_tf2" type="follow_turtle_node" output="screen"/> -->
    


</launch>   